body {background-color: Cornsilk;
    color: SaddleBrown;
    font-family: "Times New Roman", Times, serif;
    padding: 50px;}

h2 {color: DarkGreen;
    font-size: 30px;
    text-align: center;
    font-variant: small-caps;
    text-shadow: 1px 1px 0px BurlyWood;}

p {font-size: 18px;
   line-height: 1.8;text-indent: 40px;
   letter-spacing: 0.5px;}

em {color: DarkGoldenRod;
    font-style: italic;}
